

/* **************************** */
/* ********** FONTS *********** */
/* **************************** */


@font-face {
	font-family: 'Nunito', sans-serif;
}


/* **************************** */
/* ******** TEXT STYLES******* */
/* **************************** */



h1, h2, h3 { margin: 0 0 10px 0; }

.ts-h1 {
	font-size: 16px;
	line-height: 150%;
	font-family: 'nunito';
	font-weight: 600;
	/*letter-spacing: 0.12em;*/
}

.ts-h2 {
	font-size: 14px;
    font-family: 'nunito';
	line-height: 145%;
	color: #141516;
}

.ts-h4 {
	
}


a {
	/*text-decoration: none;*/
	color: #00006c;
}

a:hover {
	text-decoration: none;
	color: #00006C;
}

/* **************************** */
/* ********** MAIN ************ */
/* **************************** */

body {
	color: #00006C;
	background-color: none; 
	text-align: justify;
}

.clear {
	clear: both; 
}

.container {
	background-color: none;	
	margin-bottom: 150px;
	max-width: 920px;
}

.col-md-12 {
	float: none !important;
}

/*.section-start-asset {
	height: 15px;
	width: 60px;
	display: block;
	background-color: #FEE834;
	margin-bottom: 40px;
}*/

.subsection-padding {
	min-width: 100%;
	height: 100px;
	display: inline-block;
}



/* **************************** */
/* ********* NAV BAR ********** */
/* **************************** */

.navbar .container-fluid {
	/*padding-top: 10px;*/
 	/*background-color: red;*/
}

.navbar .bkgrd-color {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: transparent;
	opacity: 0.85;
	position: absolute;
	z-index: -1
}

.navbar-nav {
	text-align: center;
	width: 100%;
	/*background-color: green;*/
}


.navbar-nav li {
      float: none;
      display: inline-block;
      padding: 10px;
      /*background-color: red;*/
}


.navbar .navbar-nav a {
	margin: 0px 20px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.25em;
	font-size: 12px;
	padding: 13px 0px 12px 0px;
	text-decoration: none;
}


@media only screen and (max-width: 768px) {
	.navbar .navbar-nav {	margin-right: 0px; }
	.navbar .navbar-nav li a {
		text-align: right;
		margin: 6px 15px;
	}
	.navbar .collapse { box-shadow: rgb(236, 236, 236) 0px 2px 0px; }
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
	background-color: transparent;
}

.navbar .navbar-header a.navbar-brand {
	padding: 0px;
	margin-left: 20px;
}

#nav-logo-img {
	height: 35px;
}

#nav-contact {
	background-color: #000E30;
	color: white;
	border-radius: 2px;
	padding-left: 1.3em;
	padding-right: 1.3em;
	text-transform: none;
}

#nav-contact:hover {
	background-color: #fff;
	color: #000E30;
	box-shadow:0px 0px 0px 2px #000E30 inset;
	border-radius: 3px;

}

/*** Burger Menu ***/
.navbar-toggle {
	border: none;
	margin: 0px 20px 0px 0px;
}

.navbar-toggle .icon-bar {
	background-color: #000E30;
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	.navbar-collapse { background-color: none; }
	.navbar .bkgrd-color { opacity: 1; }
	.navbar .navbar-nav li a { padding: 6px 0px; }
	#nav-contact { padding: 12px 1.3em; }
}







/* **************************** */
/* ******** COVER PAGE ******** */
/* **************************** */



#cover-page {
	margin-top: 150px;
	/*background-color: orange;*/
}

#cover-page a {
	text-decoration: underline;
}


#cover-page-logo-container {
	/*background-color: yellow;*/
	text-align: center;
}


#cover-page-logo {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	text-align: center;
}


.strapline-container {
/*	background-color: green;
*/	text-align: center;
}


#strapline-h1 {
	display: inline-block;
	text-align: center;
	width: 70%;


}

#strapline-h2 {
	display: inline-block;
	text-align: center;
	width: 60%;
}

@media only screen and (max-width: 768px) {
		#cover-page { margin-top: 0px;}
		.service-item-description { padding: 35px; width:100%; margin-top: 0px }
		.service-items-container .service-item-text { font-size:  12px; }
		.service-items-container .service-item-text:not(:last-child):after { padding: 0px 10px; }
		.service-items-container .ts-item-title {	text-align: center !important; display: block; margin: auto; }
	}

/* **************************** 
/* ********** EVENTS ********** */
/* **************************** */

.events-body{
	/*background-color: green;*/
	margin-top: 150px;

}

.event-section-title{
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.events-body a {
text-decoration: underline;
}









/* **************************** */
/* ****** SECTION FOOTER ****** */
/* **************************** */

	.footer {
		height: 100px;
		text-align: center;
		font-size: 14px;
		justify-content: center;
	}

	@media only screen and (max-width: 768px) {
		.footer { font-size: 12px; }
	}

	.footer a {
		text-decoration: none;
		text-align: center;	
		color: #000E30;
		line-height: 40px;
		overflow: visible;
	}

	#footer-content {
		align-self: center;
		color: #000E30;
	}

	#footer-content a:hover {
		align-self: center;
		color: #61728E;
	}

	#icon-heart {
		color: red;
		opacity: 0.7;
		display: inline-block;
		vertical-align: -1px;
	}

	#hiring-link:hover #icon-heart {
		opacity: 1;
	}

	/* **************************** */
	/* ********** BOTTOM ********** */
	/* **************************** */

	#bottom {
		position: fixed;
		left: 0px;
		right: 0px;
		z-index: -1;
		bottom: 0;
		height: 200px;
		margin: 0 auto;	
		text-align: center;  
		opacity: 0.1;  
	}

	#bottom img {
		height: 80px;
		margin: 0 auto;
		margin-top: 70px;
		bottom: 0;
		text-align: center;
	}

