

/* **************************** */
/* ********** FONTS *********** */
/* **************************** */


@font-face {
	font-family: 'Nunito', sans-serif;
}


	


/* **************************** */
/* ******** TEXT STYLES******* */
/* **************************** */

/*Here's a mockup of website indicating the text styles: https://cl.ly/25012m3y140m*/


.ts-body {
	/*Style is defined in .body*/
}


.ts-menu-item {
	/*Style is defined in .navbar .navbar-nav li a */
}

h1, h2, h3 { margin: 0 0 10px 0; }

.ts-h1 {
	font-size: 1.5em;
	line-height: 150%;
	font-family: 'nunito';
	font-weight: bold;
	/*letter-spacing: 0.12em;*/
}

.ts-h2 {
	font-size: 1em;
	line-height: 145%;
	font-family:  'montserrat';
	letter-spacing: 0.20em;
	color: #61728E;
}

.ts-h4 {
	font-family: 'SharpSans-bold',  'montserrat';
	color: #000E30;
}

.ts-section-title {
	font-family: 'SharpSans-bold',  'montserrat'; 
	letter-spacing: 0.08em;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	color: #000E30;
}

.ts-item-title {
	text-transform: uppercase;
	cursor: pointer;
	color: #61728E;
	font-family: 'PostGrotesk-book', 'montserrat';
	font-size: 13px;
	letter-spacing: 0.3em;
	display: inline;
}


.ts-item-title[aria-expanded="true"] {
	font-family: 'PostGrotesk-bold', 'montserrat';
	color: #000E30;
}


.ts-item-description {
	margin-top: 50px;
	padding: 50px;		
	background-color: #FFFFFF;
	color: #3A4E67;
}


a {
	text-decoration: none !important;
	color: #559BD1;
}

a:hover {
	text-decoration: none;
	color: #000E30;
}

/* **************************** */
/* ********** MAIN ************ */
/* **************************** */

body {
	font-family: 'PostGrotesk-Book', 'montserrat';    
	font-size: 150%;
	line-height: 200%;
	letter-spacing: 0.05em;
	color: #000E30;
	background-color: #fafafa; 
	text-align: justify;
}

.clear {
	clear: both; 
}

.container {
	background-color: #fafafa;	
	margin-bottom: 150px;
	max-width: 920px;
}

.col-md-12 {
	float: none !important;
}

/*.section-start-asset {
	height: 15px;
	width: 60px;
	display: block;
	background-color: #FEE834;
	margin-bottom: 40px;
}*/

.subsection-padding {
	min-width: 100%;
	height: 100px;
	display: inline-block;
}



/* **************************** */
/* ********* NAV BAR ********** */
/* **************************** */

.navbar .container-fluid {
	padding-top: 32px;
	height: 100px;
	// opacity: 0.85;
	// background-color: #fafafa;
}

.navbar .bgc {
	width: 100%;
	height: 100px;
	overflow: hidden;
	background-color: #fafafa;
	opacity: 0.85;
	position: absolute;
	z-index: -1
}

.navbar .navbar-nav {
	margin-right: 53px;
}

.navbar .navbar-nav li a {
	margin: 0px 20px;
	text-transform: uppercase;
	/*line-height: 4em;*/
	font-family: 'SharpSans-semibold', 'montserrat';
	letter-spacing: 0.2em;
	color: #000E30;	
	font-size: 0.8em;
	padding: 13px 0px 12px 0px;
}

@media only screen and (max-width: 768px) {
	.navbar .navbar-nav {	margin-right: 0px; }
	.navbar .navbar-nav li a {
		text-align: right;
		margin: 6px 15px;
	}
	.navbar .collapse { box-shadow: rgb(236, 236, 236) 0px 2px 0px; }
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
	background-color: transparent;
}

.navbar .navbar-header a.navbar-brand {
	padding: 0px;
	margin-left: 20px;
}

#nav-logo-img {
	height: 35px;
}

#nav-contact {
	background-color: #000E30;
	color: white;
	border-radius: 2px;
	padding-left: 1.3em;
	padding-right: 1.3em;
	text-transform: none;
}

#nav-contact:hover {
	background-color: #fff;
	color: #000E30;
	box-shadow:0px 0px 0px 2px #000E30 inset;
	border-radius: 3px;

}

/*** Burger Menu ***/
.navbar-toggle {
	border: none;
	margin: 0px 20px 0px 0px;
}

.navbar-toggle .icon-bar {
	background-color: #000E30;
	display: block;
	width: 30px;
	height: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
	.navbar-collapse { background-color: #fafafa; }
	.navbar .bgc { opacity: 1; }
	.navbar .navbar-nav li a { padding: 6px 0px; }
	#nav-contact { padding: 12px 1.3em; }
}

/* **************************** */
/* ******** COVER PAGE ******** */
/* **************************** */

#cover-page {
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
	text-align: left;
	/*height: calc(100vh - 100px - 50px);*/
	/*overflow: hidden;*/
	/*background-color: orange;*/
/*
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;*/
}

#cover-page-logo-container {
	margin: 0 auto;
	/*background-color: yellow;*/
	text-align: center;
	margin-bottom: 50px;

}


#cover-page-logo {
	margin: 0 auto;
	margin-top: 100px;
	width: 35%;

}

.strapline-container {

/*	background-color: green;
*//*	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

#strapline-h1 {
	text-align: center;
}

#strapline-h2 {
	padding-top: 2vh;
	width: 80%;
	margin-left: 10%;
}

/* **************************** */
/* ***** SECTION SERVICES ***** */
/* **************************** */

#landing-page-sections {
	overflow: hidden;
}

/*.body-section {
	margin: 0 auto;
	overflow: auto;
	position: relative;
	}*/

	.anchor-point {
		position: relative;
		top: -100px;
	}

	.service-items-container {
		width: 600px;
		max-width: 100%;
		margin: auto;
		margin-top: 80px;
		text-align: center;
	}

	.service-items-container .ts-item-title {
		display: inline-block;
		width: 120px;
	}

	.service-items-container .ts-item-title:first-child {
		text-align: right;
	}

	.service-items-container .ts-item-title:last-child {
		text-align: left;
	}

	.service-items-container .ts-item-title.separator {
		padding: 0px 20px;
		width: auto
	}

	.service-item {
		position: relative;
		display: inline-block;
		width: 150px;
		height: 150px;
		max-width: 30%;
		border-radius: 3px;
		text-align: center;
		box-shadow: 0px 0px 4px #666666;
		cursor: pointer;
	}

	.service-item-description {
		width: 80%;
		margin: 0 auto;
		margin-top: 80px;

		-webkit-transition-property: all; /* Safari */
		-webkit-transition-duration: 1s; /* Safari */
		transition-property: all;
		transition-duration: 1s;
	}

	.item-accordion .glyphicon {
		float: left;
		line-height: 50px;
		position: relative;
		left: 20px;
	}

	.ts-item-title.item-accordion {
		height: 50px;
		line-height: 50px;
		background-color: #D3DCE9;
		border-top: 1px solid #fafafa;
		text-align: center;
		cursor: pointer;
		color: #000E30;

	}

	.ts-item-title.item-accordion[aria-expanded="true"] {
		border-bottom: 1px solid #fafafa;
	}

	.ts-item-title.item-accordion[aria-expanded="true"] .glyphicon-chevron-right {
		display: none;
	}

	.ts-item-title.item-accordion[aria-expanded="true"] .glyphicon-chevron-down {
		display: inline-block !important;
	}

	.ts-item-title.item-accordion.last {
		border-bottom: 1px solid #fafafa;
	}


	@media only screen and (max-width: 768px) {
		#service-item-description-container.col-md-12 { padding: 0; margin-top: 80px;}
		.service-item-description { padding: 35px; width:100%; margin-top: 0px }
		.service-items-container .service-item-text { font-size:  12px; }
		.service-items-container .service-item-text:not(:last-child):after { padding: 0px 10px; }
		.service-items-container .ts-item-title {	text-align: center !important; display: block; margin: auto; }
	}

	/* **************************** */
	/* ********** APPROACH ********* */
	/* **************************** */


	#approach-table-container-container {
		max-width: 100%;
		margin: auto;
		overflow: auto;
		padding: 0px;
	}

	.approach-table-content-column {
		display: inline-block;
		vertical-align: middle;
	}

	.approach-table-title {
		font-family: 'SharpSans-semibold', 'montserrat';
		font-size: 18px;  
		letter-spacing: 0.14em;
	}

	.approach-table-underline {
		width: 50px;
		height: 2px;
		background-color: #000E30;
		margin-bottom: 25px;
	}

	.approach-table-description {
		font-family: 'PostGrotesk-Book', 'montserrat';  
		font-size: 14px;  
		color: #61728E;
	}

	.approach-table-arrow-column {
		text-align: center;
		padding-top: 127px;
		color: #61728E;
		font-size: 180%;
	}


	#approach-learn-more, #approach-read-less {
		cursor: pointer;
	}

	.approach-learn-more-container[aria-expanded="true"] {
		display: none;
	}

	@media only screen and (max-width: 768px) {
		#approach-table-container-container { background-color: white; padding: 40px 0px 21px 0px;}
	}

	/* **************************** */
	/* ********** PEOPLE ********* */
	/* **************************** */

	.people-item-container {
		width: 850px;
		max-width: 100%;
		margin: auto;
		margin-top: 80px;
		/*background-color: lightgreen;*/
		text-align: center;
	}

	.people-item-container p {
		display: inline;
	}

	.people-item-container .people-item {
		cursor: pointer;
	}

	.people-item-container .ts-item-title {
		display: inline-block;
		width: 190px;
	}

	.people-item-container .ts-item-title:first-child {
		text-align: middle;
	}

	.people-item-container .ts-item-title:last-child {
		text-align: middle;
	}

	.people-item-container .ts-item-title.separator {
		padding: 0px 20px;
		width: auto
	}

	.people-item-container .ts-item-title[aria-expanded="true"] {
		font-family: 'PostGrotesk-bold', 'montserrat';
		color: #000E30;
	}

	.people-item-description {
		margin: 0 auto;
		width: 80%;
		color: #3A4E67;
		text-align: justify;
		padding: 50px;		
		background-color: #fff;
		margin-top: 80px;

		-webkit-transition-property: all; /* Safari */
		-webkit-transition-duration: 1s; /* Safari */
		transition-property: all;
		transition-duration: 1s;
	}

	#people-item-description-linkedin  {
		width: 35px;
		margin: 0 auto;
		padding-top: 15px;
	}

	@media only screen and (max-width: 768px) {
		.people-item-description-container.col-md-12 { padding: 0px; margin-top: 80px;}
		.people-item-description { padding: 35px; width:100%; margin-top: 0px; }
		.people-item-container .people-item { font-size:  12px; }
		.people-item-container .people-item:not(:last-child):after { padding: 0px 10px; }
		.people-item-container .service-item-text:not(:last-child):after { padding: 0px 10px; }
		.people-item-container .ts-item-title {	text-align: center !important; display: block; margin: auto; }
	}

	/* **************************** */
	/* ****** SECTION CLIENTS ***** */
	/* **************************** */


	.client-container {
		padding: 30px 50px;
		max-width: 820px;
		margin: auto;
		overflow: auto;
	}

	.client-container .col-md-6 {
		padding: 0px;
		overflow: auto;
	}

	.client-item {
		position: relative;
		display: inline-block;
		width: 100px;
		height: 100px;
		max-width: 30%;
		border-radius: 3px;
		text-align: center;
	// box-shadow: 0px 0px 4px #666666;
	margin-right: 20px;
	float: left;
}

.client-item:last-child {
	margin-right: 0px;
}

.client-item img {
	max-width: 60px;
	width: 70%;
	margin-top: 19px;
}

.stretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

@media only screen and (max-width: 992px) {
	.client-container { max-width: 340px; }
	.client-container { padding: 40px 0px 0px 0px; }
	.client-item { max-width: 33.33%; margin: 0px; }

}

@media only screen and (max-width: 768px) {
	
} 

/* **************************** */
/* ********** CONTACT BUTTON ********* */
/* **************************** */

/*.contact-button { 
	color: #27273B;
	background-color: #F7D144; 
	border: none ; 
	font-size: 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 10px #666666;
	padding: 25px 50px;
	margin-top: 50px;
} 

.contact-button-container  {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.contact-button:hover, 
.contact-button:focus, 
.contact-button:active { 
	color: #FFFFFF; 
	background-color: #27273B; 
	border: none ; 
	text-decoration: none;
	} */








	/* **************************** */
	/* ******** FORM  ******* */
	/* **************************** */


	#cta {
		text-align: center;
		justify-content: center;
		float: none;
	}


	#cta-button {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		color: #000E30;
		line-height: 18px;
		border: 2px solid #000E30;
		border-radius: 3px;
		padding: 22px 30px 20px 30px;
		font-size: 14px;
		align-self: center;
		cursor: pointer;
	}


	#cta-button:hover {
		color: white;
		border-color: #000E30;
		background-color: #000E30;
		cursor: pointer;
	}


	.contact-form-container {
		padding: 50px;
		float: none;
		background-color: white;
		text-align: left;
		margin: 50px auto 0px auto;
		max-width: 700px;
	}


	#contact-form-container .formlabel {
		width: 100%;
		font-family: 'PostGrotesk-Bold';
		text-transform: uppercase;
		font-size: 10px;
		line-height: 30px;
		color: #B6C1D1;
		position: relative;
		padding-left: 20px;
		background-color: #FBFCFC;
		padding: 0 auto;
		margin: 0 auto;
	}


/*#contact-form-container .formrow:not(:last-child) {
	margin-bottom: 200px;
	}*/



	#contact-form-container input, #contact-form-container textarea {
		width: 100%;
		padding-left: 20px;
		border: none;
		background-color: #FBFCFC;
		line-height: 40px;

	}

	input#form-name {
		text-transform: capitalize;
	}

	#formrow-message {
		margin-bottom: -14px;
	}


	#contact-form-container button {
		text-transform: uppercase;
		background-color: #727A8D;
		color: white;
		width: 100%;
		height: 60px;
		line-height: 60px;
		border: none;

	}

	#contact-form-container button:focus, #contact-form-container button:hover {
		outline: 0;
		background-color: #000E30;
		color: white;
	}



	.formrow.email-error .formlabel, .formrow.email-error input {
		background-color: #FF4545 !important;
		/*border: 1px solid red;*/
		color: white;

	}

	#contact-form-container input:focus, #contact-form-container textarea:focus {
		outline: 0;
		background-color: #E6F1F9;
	}




	#contact-form-container .formlabel.focused-label {
		background-color: #E6F1F9;
	}


	#thankyou-message {
		display:none;
		margin: 0 auto;
		text-align: center;
		font-family: 'SharpSans-semibold',  'montserrat';
		font-size: 1.5em;
		letter-spacing: 0.05em;

	}

	#thankyou-message-read-more-prompt{
		font-family: 'PostGrotesk-Book', 'montserrat';    
		font-size: 0.7em;
		/*line-height: 200%;*/
		letter-spacing: 0.05em;
		color: #000E30;
	}

	@media only screen and (max-width: 768px) {
		.contact-form-container { padding: 0px;}
	}


	/* **************************** */
	/* ****** SECTION FOOTER ****** */
	/* **************************** */

	.footer {
		height: 100px;
		text-align: center;
		font-size: 14px;
		justify-content: center;
	}

	@media only screen and (max-width: 768px) {
		.footer { font-size: 12px; }
	}

	.footer a {
		text-decoration: none;
		text-align: center;	
		color: #000E30;
		line-height: 40px;
		overflow: visible;
	}

	#footer-content {
		align-self: center;
		color: #000E30;
	}

	#footer-content a:hover {
		align-self: center;
		color: #61728E;
	}

	#icon-heart {
		color: red;
		opacity: 0.7;
		display: inline-block;
		vertical-align: -1px;
	}

	#hiring-link:hover #icon-heart {
		opacity: 1;
	}

	/* **************************** */
	/* ********** BOTTOM ********** */
	/* **************************** */

	#bottom {
		position: fixed;
		left: 0px;
		right: 0px;
		z-index: -1;
		bottom: 0;
		height: 200px;
		margin: 0 auto;	
		text-align: center;  
		opacity: 0.1;  
	}

	#bottom img {
		height: 80px;
		margin: 0 auto;
		margin-top: 70px;
		bottom: 0;
		text-align: center;
	}

